@import url('_variables.css');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');

/* ---------- reset styles ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* ---------- body ---------- */
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Rufina', sans-serif;
    color: var(--light-color);
}

/* ---------- helper classes ---------- */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.item-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

/* ---------- content wrap for mobile version ---------- */
.content-wrap {
    max-width: 1644px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------- header for mobile version ---------- */
.main-header {
    width: 100%;
    background-color: var(--main-bg-color);
    padding-bottom: 100px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 35px 0;
}

.left-part-navbar {
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 0 auto;
}

.right-part-navbar {
    display: none;
}

.main-logo {
    width: 140px;
    height: 60px;
}

.icon-navi-open {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon-navi-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 8px;
    cursor: pointer;
}

/* ---------- header title for mobile version ---------- */
.header-title {
    flex-direction: column;
    margin: 20px auto 0;
    padding: 0 20px;
    align-items: center;
}

.header-title .title-text {
    max-width: 1057px;
    max-height: 456px;
    flex-direction: column;
    text-align: center;
}

.header-title .title-text h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 15px;
}

.header-title .title-text p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2%;
    max-width: 565px;
}

.title-photo {
    display: inline-block;
}

.main-steak {
    display: block;
    max-width: 100%;
    height: auto;
}

.spices {
    gap: 15px;
    margin-top: 10px;
}

.spice-img {
    max-width: 250px;
    max-height: 240px;
    width: 80px;
    height: 80px;
}

/* ---------- navigation menu full screen for mobile version ---------- */
.navigation-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(35, 48, 0, 0.8) 0%, rgba(35, 48, 0, 0.8) 100%),
        url(../images/bg-img-navigation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.navigation-full-screen.menu-open {
    height: 100vh;
    overflow: auto;
}

.navigation-menu-wrap {
    width: 100%;
    padding: 111px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.navigation-full-screen .menu ul li:not(ol li) {
    list-style-type: none;
    position: relative;
}

.navigation-full-screen .menu ul li>a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navigation-full-screen .menu ul li:not(ol li)>a::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--light-color);
}

.navigation-full-screen .menu ul .blogs-marker>a.blogs-link::before {
    background-color: #9CAA00;
}

.navigation-full-screen .menu ul li ol {
    padding-left: 25px;
    margin-top: 5px;
}

.navigation-full-screen .menu ul li:not(:last-child) {
    margin-bottom: 15px;
}

.navigation-full-screen .menu ul li a {
    font-size: 2rem;
    font-weight: 700;
}

.navigation-full-screen .menu ul li .blogs-link,
.navigation-full-screen .menu ul .blogs-marker::marker {
    color: #9CAA00;
}

.navigation-full-screen .menu ul li ol li a {
    font-size: 1.125rem;
    font-weight: 400;
}

.navigation-full-screen .menu ul li ol li:not(:last-child) {
    margin-bottom: 6px;
}

.navigation-full-screen .menu ul li ol li:last-child {
    list-style-type: none;
}

.contact-info {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-info h2 {
    font-size: 1.250rem;
    font-weight: 700;
}

.contact-info ul li {
    list-style-type: none;
}

.contact-info ul li:not(:last-child) {
    margin-bottom: 5px;
}

.contact-info ul li a {
    font-family: 'Lato', sans-serif;
}

.contact-info hr {
    border: none;
    border-bottom: 2px dashed #ffffff;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.contact-info>a {
    font-family: sans-serif;
    margin-top: 20px;
    font-style: normal;
    margin-bottom: 20px;
}

.contact-info .icons {
    justify-content: flex-start;
    gap: 18px;
}

/* ---------- main for mobile version ---------- */
/* ---------- basic teg styles for mobile version ---------- */
main {
    color: var(--dark-color);
}

h2 {
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 60px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
    line-height: 32px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
}

main p {
    color: #4D4D4D;
}

hr {
    border: none;
    border-top: 2px dashed var(--dark-color);
}

/* ---------- plan diet section for mobile version ---------- */
.plan-diet-section {
    background-color: var(--main-bg-color);
    padding-bottom: 100px;
    padding-top: 70px;
}

.plan-diet-wrap {
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    align-items: flex-start;
}

.plan-diet-wrap .left-side-plan h3 {
    font-size: 2.125rem;
    margin: 27px 0;
    font-weight: 700;
    color: var(--light-color)
}

.plan-diet-wrap p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-color)
}

.plan-diet-wrap .right-side-plan {
    flex-direction: column;
}

.plan-diet-wrap .right-side-plan p {
    order: 1;
    margin-top: 42px;
}

.plan-diet-wrap .right-side-plan img {
    order: -1;
}

/* ---------- our menu section for mobile version ---------- */
.our-menu-section {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/sprat.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 250px auto;
}

.our-menu-wrap .menu-dishes .menu-item {
    max-width: 792px;
    height: auto;
    position: relative;
}

.our-menu-wrap span {
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: -30px;
}

.our-menu-wrap .menu-dishes {
    flex-direction: column;
    margin-top: 79px;
    gap: 40px;
}

.our-menu-wrap .menu-dishes .menu-item:not(:last-child) {
    margin-bottom: 54px;
}

.our-menu-wrap .menu-dishes .menu-item h3 {
    font-size: 2.125rem;
    margin: 12px 0;
}

/* ---------- excelent cook section for mobile version ---------- */
.excelent-cook-section {
    background-color: #EBF0E4;
    color: var(--dark-color);
    background-image: url(../images/leaf_left.png), url(../images/leaf_right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 35px left 10px, bottom 10px right 35px;
    background-size: 200px auto, 150px auto;
    padding: 150px 0;
}

.excelent-cook-wrap {
    flex-direction: column;
    gap: 30px;
}

.excelent-cook-wrap p {
    margin-top: 9px;
}

/* ---------- features section for mobile version ---------- */
.features-section {
    padding: 120px 0;
}

.features-section .features-list {
    flex-direction: column;
    gap: 40px;
}

.features-list .features-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-section h3 {
    margin: 19.5px 0;
    flex-grow: 1;
}

.features-item .features-icon {
    width: 120px;
    height: 120px;
    background-color: #EBF0E4;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.features-item .features-icon img {
    width: 82px;
    height: 82px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- blogs section for mobile version ---------- */
.blog-section {
    padding-bottom: 105px;
}

.blog-section .blog-wrap {
    flex-direction: column;
    gap: 30px;
}

.blog-section .blog-img-wrap {
    position: relative;
}

.blog-section .blog-category {
    width: auto;
    height: auto;
    padding: 3.5px 26.5px;
    color: var(--light-color);
    background-color: #5E6600;
    position: absolute;
    top: 6px;
    right: 6px;
}

.blog-section .post-meta {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 34px 0 24px 0;
}

.blog-section .post-meta li {
    font-family: 'Lato', sans-serif;
    color: #5E6600;
    font-size: 0.563rem;
}

.blog-section .post-meta li img {
    width: 40px;
    height: 40px;
}

.blog-section p {
    font-size: 0.688rem;
}

.blog-section hr {
    margin: 9px 0;
}

.blog-section .post-meta li:not(:first-child, :nth-child(2))::before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #5E6600;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 7px;
}

.blog-section .read-more {
    margin-top: 23px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.blog-section .read-more img {
    width: 23px;
    height: 13px;
}

.blog-section .read-more span {
    font-size: 0.75rem;
}

/* ---------- reservation section for mobile version ---------- */
.reservation-section {
    padding: 80px 0;
    background-color: #EBF0E4;
}

.reservation-wrap {
    text-align: center;
}

.reservation-wrap h2 {
    line-height: 1.1;
    margin-top: 9px;
    font-size: 2.9rem;

}

.reservation-wrap p {
    margin-bottom: 66px;
}

.input-wrap {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 66.5px;
}

.input-wrap input::placeholder,
.input-wrap input {
    color: var(--dark-color);
}

.input-wrap input::placeholder,
.input-wrap input,
.input-wrap select {
    font-size: 0.75rem;
}

.input-wrap input,
.input-wrap select {
    width: auto;
    height: auto;
    font-family: 'Lato', sans-serif;
    padding: 15px 20px;
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}

button[type="submit"] {
    width: auto;
    height: auto;
    padding: 10px 47.5px;
    background-color: var(--main-bg-color);
    color: var(--light-color);
    font-size: 1rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

select {
    background-image: url('../images/icons/Icon_angle-down.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 14px 8px;
    cursor: pointer;
}

/* ---------- categories section for mobile version ---------- */
.menu-categories-section {
    padding: 64px 0;
}

.menu-categories-wrap h2,
.menu-categories-wrap p {
    text-align: center;
}

.menu-categories-wrap p {
    margin-top: 9px;
    margin-bottom: 63px;
}

.categories-list {
    flex-direction: column;
    gap: 30px;
}

.menu-categories-wrap .categories-item {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}

.categories-item .food-img {
    width: 100%;
    height: auto;
}

.categories-item h3,
.categories-item .vector {
    position: absolute;
    color: var(--main-bg-color);
}

.categories-item h3 {
    top: 24px;
    left: 20px;
    line-height: 32px;
}

.categories-item .vector {
    width: 24px;
    height: 14px;
    top: 25px;
    right: 24px;
    cursor: pointer;
}

/* ---------- reviews section for mobile version ---------- */
.reviews-section {
    padding: 59px 0;
    background-image: url(../images/quotation-marks.png);
    background-repeat: no-repeat;
    background-size: 141px 117px;
    background-position: top 59px right 15px;
}

.reviews-section p {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
    line-height: 32px;
    margin-bottom: 43px;
}

.reviews-section .bottom-wrap {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reviews-section .bottom-wrap .author-wrap {
    align-items: center;
    gap: 30px;
}

.reviews-section .bottom-wrap .author-avatar {
    width: 85px;
    height: 85px;
}

.reviews-section .bottom-wrap .author-name .name {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
}

.reviews-section .bottom-wrap .author-name .proffesion {
    display: block;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2%;
    color: #4D4D4D;
    font-size: 0.563rem;
}

.reviews-section .bottom-wrap .scroll-wrap {
    gap: 20px;
    align-items: center;
}

.reviews-section .bottom-wrap .scroll-wrap span {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
    color: var(--dark-color);
}

.reviews-section .bottom-wrap .scroll-wrap>img {
    width: 24px;
    height: 14px;
    cursor: pointer;
}

/* ---------- footer for mobile version ---------- */
.footer {
    background-color: var(--main-bg-color);
    padding-top: 66px;
    padding-bottom: 37px;
    color: var(--light-color);
    flex-direction: column;
}

.footer-wrap {
    width: 100%;
}

.footer-main {
    flex-direction: column;
    gap: 70px;
}

.footer-main .footer-brand h3 {
    font-size: 2.125rem;
    font-weight: 700;
    color: var(--light-color);
    line-height: 100%;
}

.footer-main h4 {
    font-weight: 700;
    line-height: 24px;
    font-size: 1rem;
    margin-bottom: 27.5px;
}

.footer-main .footer-contact li a,
.footer-contact address {
    font-family: 'Lato', sans-serif;
    font-size: 0.563rem;
    letter-spacing: 2%;
    line-height: 12.5px;
    white-space: nowrap;
}

.footer-contact li address {
    margin-top: 14px;
}

.subscribe-form {
    flex-direction: column;
    gap: 17.5px;
}

.footer-subscribe input[type="email"] {
    padding: 15px 20px;
    border-width: 2px;
    border-color: var(--light-color);
    outline: none;
}

.footer-subscribe input[type="email"],
.footer-subscribe input[type="email"]::placeholder {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    font-size: 0.75rem;
}

.footer-subscribe .btn-wrap {
    margin: 0 auto;
}

.footer-subscribe button[type="submit"] {
    background-color: #5E6600;
    padding: 10px 23px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
}

.footer-subscribe p {
    font-family: 'Lato', sans-serif;
    font-size: 0.438rem;
    margin-top: 7.5px;
    max-width: 389px;

}

.footer hr {
    width: 100%;
    border-top-color: var(--light-color);
    border-width: 2px;
    margin-top: 68.5px;
}

.footer-bottom {
    width: 100%;
    margin-top: 29px;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.footer-bottom span {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
}

.footer-socials {
    justify-content: center;
    gap: 14px;
}

.footer-socials a {
    cursor: pointer;
}

/* ---------- media Query ---------- */
@media screen and (min-width: 481px) {

    /* ---------- iPads, Tablets ---------- */
    .title-photo,
    .right-side-plan,
    .left-side-plan,
    .excelent-cook-section .image-side,
    .blog-section .left-side-blog,
    .blog-section .right-side-blog {
        max-width: 450px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) {
    .spice-img {
        width: 120px;
        height: 120px;
    }

    /* ---------- blogs section for mobile version ---------- */
    .blog-section .post-meta li {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 769px) {
    /* ---------- Small screens, laptops ---------- */

    /* ---------- content wrap for tablet version ---------- */
    .content-wrap {
        padding: 0 40px;
    }

    /* ---------- header for tablet version ---------- */
    .main-header {
        padding-bottom: 120px;
    }

    .main-logo {
        width: 150px;
        height: 50px;
    }

    .right-part-navbar {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    .left-part-navbar {
        margin: 0;
        gap: 22.5px;
    }

    .btn-reservations {
        font-family: 'Rufina', sans-serif;
        border: 2px solid var(--light-color);
        font-size: 1.125rem;
        padding: 5px 20px;
        font-size: 1.125rem;
    }

    .right-part-navbar .phone-link {
        font-family: 'Inter', sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        font-style: normal;
    }

    /* ---------- navigation menu full screen for tablet version ---------- */
    .navigation-menu-wrap {
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        padding: 150px 40px;
    }

    .navigation-full-screen .menu ul li a {
        font-size: 2.5rem;
    }

    .navigation-full-screen .menu ul li ol li a {
        font-size: 1.250rem;
    }

    .contact-info h2 {
        font-size: 1.5rem;
    }

    .contact-info ul li a {
        font-size: 1.125rem;
    }

    /* ---------- header title for tablet version ---------- */
    .header-title {
        position: relative;
    }

    .header-title .title-text h1 {
        font-size: 4.625rem;
        margin-bottom: 25px;
    }

    .header-title .title-text p {
        font-size: 1.125rem;
        margin: 0 auto;
    }

    .spice-img {
        width: 150px;
        height: 150px;
    }

    .main-steak {
        width: auto;
        height: auto;
        display: block;
    }

    .title-photo {
        margin: 30px auto 0;
        width: auto;
        height: auto;
        max-width: none;
        margin: 0;
    }

    .spices {
        gap: 22px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60px;
    }

    /* ---------- main ---------- */
    /* ---------- basic teg styles for tablet version ---------- */
    h2 {
        font-size: 4rem;
        line-height: 80px;
    }

    h3 {
        font-size: 2rem;
        line-height: 48px;
    }

    p {
        font-size: 1rem;
        line-height: 115%;
    }

    /* ---------- plan diet section for tablet version ---------- */
    .plan-diet-wrap {
        flex-direction: row;
        gap: 200px;
        padding-top: 90px;
    }

    .right-side-plan,
    .left-side-plan {
        flex: 1;
    }

    .plan-diet-wrap .left-side-plan h3 {
        font-size: 2.5rem;
        margin: 35px 0;
        font-weight: 700;
    }

    .plan-diet-wrap p {
        font-family: 'Lato', sans-serif;
        font-size: 1.125rem;
    }

    .plan-diet-wrap .right-side-plan p {
        order: -1;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .plan-diet-wrap .right-part-navbar img {
        order: 1;
    }

    /* ---------- our menu section for tablet version ---------- */
    .our-menu-section {
        background-size: 400px auto;
    }

    .our-menu-wrap .menu-dishes {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 110px;
    }

    .our-menu-wrap .menu-dishes .menu-item:not(:last-child) {
        margin-bottom: 75px;
    }

    .our-menu-wrap .menu-dishes .menu-item {
        flex: 0 0 calc(50% - 30px);
    }

    .our-menu-wrap .menu-dishes .menu-item h3 {
        font-size: 3rem;
        margin: 16px 0;
        min-height: 7.5rem;
    }

    .our-menu-wrap .menu-dishes span {
        font-size: 2rem;
        top: -40px;
    }

    /* ---------- excelent cook section for tablet version ---------- */
    .excelent-cook-section {
        background-position: top 70px left 15px, bottom 15px right 50px;
        background-size: 200px auto, 250px auto;
    }

    .excelent-cook-section .image-side {
        max-width: none;
        margin: 0;
    }

    .excelent-cook-wrap {
        flex-direction: row;
        gap: 40px;
    }

    .excelent-cook-wrap p {
        margin-top: 12px;
    }

    /* ---------- features section for tablet version ---------- */
    .features-section {
        padding: 130px 0;
    }

    .features-section h3 {
        margin: 25px 0;
    }

    .features-section .features-list {
        flex-direction: row;
    }

    .features-item .features-icon {
        width: 140px;
        height: 140px;
    }

    .features-item .features-icon img {
        width: 100px;
        height: 100px;
    }

    /* ---------- blogs section for tablet version ---------- */
    .blog-section .blog-wrap {
        flex-direction: row;
        gap: 40px;
        align-items: stretch;
    }

    .blog-section .left-side-blog,
    .blog-section .right-side-blog {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .blog-section .blog-category {
        padding: 5px 42px;
        top: 8px;
        right: 8px;
    }

    .blog-section .post-meta {
        margin: 40px 0 33px 0;
    }

    .blog-section .post-meta li {
        font-size: 0.850rem;
    }

    .blog-section .post-meta li img {
        width: 50px;
        height: 50px;
    }

    .blog-section hr {
        margin: 14px 0;
    }

    .blog-section h3 {
        min-height: 3.9em;
    }

    .blog-section p {
        font-size: 0.9rem;
    }

    .blog-section .post-meta li:not(:first-child, :nth-child(2))::before {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        margin-right: 9px;
        margin-left: 9px;
    }

    .blog-section .read-more {
        margin-top: 30px;
        align-items: center;
        gap: 7px;
        cursor: pointer;
    }

    .blog-section .read-more img {
        width: 30px;
        height: 15px;
    }

    .blog-section .read-more span {
        font-size: 1rem;
    }

    /* ---------- reservation section for tablet version ---------- */
    .reservation-wrap h2 {
        margin-top: 14px;
        font-size: 4rem;
    }

    .reservation-wrap p {
        margin-bottom: 97px;
    }

    .input-wrap {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 97px;
    }

    .input-wrap input::placeholder,
    .input-wrap input,
    .input-wrap select {
        font-size: 1rem;
    }

    .input-wrap input,
    .input-wrap select {
        padding: 20px 30px;
        width: 200px;
    }

    button[type="submit"] {
        font-size: 1.350rem;
        padding: 12.5px 62px;
    }

    select {
        background-position: right 25px center;
        background-size: 18px 10px;
    }

    /* ---------- categories section for tablet version ---------- */
    .menu-categories-section {
        padding: 85px 0;
    }

    .menu-categories-wrap p {
        margin-top: 14px;
        margin-bottom: 85px;
    }

    .categories-list {
        flex-direction: row;
    }

    .categories-item {
        flex: 1;
    }

    .categories-item h3 {
        font-size: 1.5rem;
    }

    /* ---------- reviews section for tablet version ---------- */
    .reviews-section {
        padding: 81px 0;
        background-size: 200px 180px;
        background-position: top 85px right 15px;
    }

    .reviews-section p {
        font-size: 2rem;
        line-height: 48px;
        margin-bottom: 62px;
    }

    .reviews-section .bottom-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .reviews-section .bottom-wrap .author-avatar {
        width: 120px;
        height: 120px;
    }

    .reviews-section .bottom-wrap .author-name .name {
        font-size: 2rem;
        margin-bottom: 4px;
    }

    .reviews-section .bottom-wrap .author-name .proffesion {
        font-size: 0.700rem;
    }

    .reviews-section .bottom-wrap .scroll-wrap {
        gap: 25px;
        align-items: center;
    }

    .reviews-section .bottom-wrap .scroll-wrap span {
        font-size: 1.350rem;
        line-height: 32px;
    }

    .reviews-section .bottom-wrap .scroll-wrap>img {
        width: 30px;
        height: 15px;
    }

    /* ---------- footer for tablet version ---------- */
    .footer {
        padding-top: 90px;
        padding-bottom: 57px;
    }

    .footer-main {
        flex-direction: row;
        gap: 0;
    }

    .footer-main .footer-contact {
        margin-left: 119px;
    }

    .footer-main .footer-brand h3 {
        font-size: 2.5rem;
    }

    .footer-main h4 {
        line-height: 36px;
        font-size: 1.250rem;
        margin-bottom: 38px;
    }

    .footer-main .footer-contact li a,
    .footer-contact address {
        font-size: 0.700rem;
        line-height: 18px;
    }

    .footer-contact li address {
        margin-top: 20px;
    }

    .footer-subscribe {
        margin-left: 108px;
        flex: 1;
    }

    .subscribe-form {
        flex-direction: column;
    }

    .input-email-wrap {
        flex: 1;
    }

    .footer-subscribe input[type="email"] {
        width: 100%;
        padding: 20px 30px;
    }

    .footer-subscribe input[type="email"],
    .footer-subscribe input[type="email"]::placeholder {
        font-size: 1rem;
    }

    .footer-subscribe button[type="submit"] {
        padding: 15px 34px;
        font-size: 1rem;
        margin-top: 0;
        margin-left: 0;
    }

    .footer-subscribe p {
        margin-top: 10px;
        font-size: 0.625rem;
    }

    .footer hr {
        margin-top: 86px;
    }

    .footer-bottom {
        width: 100%;
        margin-top: 42px;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom span {
        font-size: 1rem;
        line-height: 120%;
    }

    .footer-socials {
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (min-width: 1025px) {
    /* ---------- Desktops, large screens ---------- */

    /* ---------- header for laptop version ---------- */
    .main-header {
        padding-bottom: 150px;
    }

    .right-part-navbar {
        gap: 26px;
    }

    .btn-reservations {
        font-size: 1.250rem;
        padding: 10px 30px;
    }

    .icon-navi-close {
        width: 60px;
        height: 60px;
        top: 15px;
        left: 15px;
    }

    .right-part-navbar .phone-link {
        font-size: 1.250rem;
    }

    /* ---------- navigation menu full screen for laptop version ---------- */
    .navigation-menu-wrap {
        padding: 190px 40px;
    }

    .navigation-full-screen .menu ul li a {
        font-size: 3.0rem;
    }

    .navigation-full-screen .menu ul li ol li a {
        font-size: 1.5rem;
    }

    .contact-info ul li a {
        font-size: 1.250rem;
    }

    .contact-info h2 {
        font-size: 1.650rem;
    }

    /* ---------- header title full screen for laptop version ---------- */
    .header-title {
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        width: 100%;
        max-width: 1684px;
        margin: 60px auto 0;
        gap: 50px;
    }

    .header-title .title-text {
        text-align: left;
        flex: 1.3;
        z-index: 2;
        flex-direction: column;
        margin-right: 0;
    }

    .header-title .title-photo {
        flex: 1;
        max-width: 650px;
        height: auto;
        z-index: 1;
        margin: 0;
        flex-direction: column;
        align-self: flex-end;
        display: flex;
        margin-top: 70px;
    }

    .spices {
        gap: 30px;
        transform: none;
        right: 300px;
        bottom: -60px;
    }

    .main-steak {
        max-width: 600px;
        height: auto;
    }

    .spice-img {
        width: 180px;
        height: 180px;
    }

    .header-title .title-text h1 {
        font-size: 5.8rem;
        text-align: left;
        margin-right: -150px;
        line-height: 100px;
    }

    .header-title .title-text p {
        font-size: 1.250rem;
        margin: 0;
    }

    .title-text p {
        font-size: 1.35rem;
    }

    /* ---------- main for laptop version ---------- */
    /* ---------- basic teg styles for laptop version ---------- */
    h2 {
        font-size: 5rem;
        line-height: 100px;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 55px;
    }

    p {
        font-size: 1.250rem;
        line-height: 125%;
    }

    hr {
        border-top-width: 3px;
    }

    /* ---------- plan diet section for laptop version ---------- */
    .plan-diet-wrap {
        gap: 250px;
        padding-top: 100px;
    }

    .plan-diet-wrap .left-side-plan h3 {
        margin: 45px 0;
    }

    .plan-diet-wrap p {
        font-size: 1.250rem;
    }

    .plan-diet-wrap .right-side-plan p {
        margin-bottom: 75px;
    }

    /* ---------- our menu section for laptop version ---------- */
    .our-menu-section {
        background-size: 450px auto;
    }

    .our-menu-wrap .menu-dishes {
        gap: 50px;
        margin-top: 130px;
    }

    .our-menu-wrap .menu-dishes .menu-item:not(:last-child) {
        margin-bottom: 95px;
    }

    .our-menu-wrap .menu-dishes .menu-item {
        flex: 0 0 calc(50% - 30px);
    }

    .our-menu-wrap .menu-dishes .menu-item h3 {
        font-size: 3.8rem;
        margin: 20px 0;
    }

    .our-menu-wrap .menu-dishes span {
        font-size: 2.5rem;
        top: -50px;
    }

    /* ---------- excelent cook section for laptop version ---------- */
    .excelent-cook-section {
        background-position: top 110px left 20px, bottom 10px right 70px;
        background-size: 270px auto, 350px auto;
        padding: 200px 0;
    }

    .excelent-cook-wrap {
        gap: 50px;
    }

    .excelent-cook-wrap p {
        margin-top: 16px;
    }

    /* ---------- features section for laptop version ---------- */
    .features-section {
        padding: 150px 0;
    }

    .features-section h3 {
        margin: 32px 0;
    }

    .features-section .features-list {
        flex-direction: row;
        gap: 50px;
    }

    .features-item .features-icon {
        width: 180px;
        height: 180px;
    }

    .features-item .features-icon img {
        width: 120px;
        height: 120px;
    }

    /* ---------- blogs section for laptop version ---------- */
    .blog-section .blog-img-wrap {
        gap: 50px;
    }

    .blog-section .blog-category {
        padding: 6px 47px;
        top: 10px;
        right: 10px;
    }
    
    .blog-section .post-meta {
        margin: 55px 0 40px 0;
        justify-content: flex-start;
    }

    .blog-section p {
        font-size: 1.125rem;
    }

    .blog-section .post-meta li {
        font-size: 1rem;
    }

    .blog-section .post-meta li img {
        width: 50px;
        height: 50px;
    }

    .blog-section hr {
        margin: 16px 0;
    }

    .blog-section .post-meta li:not(:first-child, :nth-child(2))::before {
        width: 4px;
        height: 4px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .blog-section .read-more {
        margin-top: 37px;
        align-items: center;
        gap: 8px;
    }

    .blog-section .read-more img {
        width: 39px;
        height: 22px;
    }

    .blog-section .read-more span {
        font-size: 1.250rem;
    }

    /* ---------- reservation section for laptop version ---------- */
    .reservation-section {
        padding: 150px 0;
    }

    .reservation-wrap h2 {
        font-size: 5rem;
        margin-top: 16px;
    }

    .reservation-wrap p {
        margin-bottom: 110px;
    }

    .input-wrap {
        gap: 40px;
        margin-bottom: 110px;
    }

    .input-wrap input::placeholder,
    .input-wrap input,
    .input-wrap select {
        font-size: 1.250rem;
    }

    .input-wrap input,
    .input-wrap select {
        padding: 25px 35px;
        width: 280px;
    }

    button[type="submit"] {
        font-size: 1.750rem;
        padding: 15px 75px;
    }

    select {
        background-position: right 30px center;
        background-size: 22px 12px;
    }

    /* ---------- categories section for laptop version ---------- */
    .menu-categories-section {
        padding: 105px 0;
    }

    .menu-categories-wrap p {
        margin-top: 16px;
        margin-bottom: 110px;
    }

    .categories-list {
        flex-direction: row;
        gap: 40px;
    }

    .categories-item h3 {
        top: 34px;
        left: 20px;
    }

    .categories-item .vector {
        width: 32px;
        height: 16px;
        top: 35px;
        right: 28px;
    }

    .categories-item h3 {
        font-size: 2rem;
    }

    /* ---------- reviews section for laptop version ---------- */
    .reviews-section {
        padding: 100px 0;
        background-size: 230px 210px;
        background-position: top 85px right 15px;
    }

    .reviews-section p {
        font-size: 2.5rem;
        line-height: 55px;
        margin-bottom: 74px;
    }

    .reviews-section .bottom-wrap .author-wrap {
        gap: 50px;
    }

    .reviews-section .bottom-wrap .author-avatar {
        width: 150px;
        height: 150px;
    }

    .reviews-section .bottom-wrap .author-name .name {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .reviews-section .bottom-wrap .author-name .proffesion {
        font-size: 0.9rem;
    }

    .reviews-section .bottom-wrap .scroll-wrap {
        gap: 35px;
    }

    .reviews-section .bottom-wrap .scroll-wrap span {
        font-size: 1.7rem;
        line-height: 55px;
    }

    .reviews-section .bottom-wrap .scroll-wrap>img {
        width: 40px;
        height: 20px;
    }

    /* ---------- footer for laptop version ---------- */
    .footer {
        padding-top: 113px;
        padding-bottom: 69px;
    }

    .footer-main .footer-contact {
        margin-left: 189px;
    }

    .footer-main .footer-brand h3 {
        font-size: 3.225rem;
    }

    .footer-main h4 {
        font-size: 1.750rem;
        margin-bottom: 46px;
    }

    .footer-main .footer-contact li a,
    .footer-contact address {
        font-size: 0.9rem;
        line-height: 22px;
    }

    .footer-contact li address {
        margin-top: 24px;
    }

    .footer-subscribe {
        margin-left: 166px;
    }

    .subscribe-form {
        gap: 26px;
    }

    .footer-subscribe input[type="email"] {
        width: 100%;
        padding: 25px 35px;
    }

    .footer-subscribe input[type="email"],
    .footer-subscribe input[type="email"]::placeholder {
        font-size: 1.250rem;
    }

    .footer-subscribe button[type="submit"] {
        padding: 20px 46px;
        font-size: 1.250rem;
    }

    .footer-subscribe p {
        margin-top: 12.5px;
        font-size: 0.825rem;
    }

    .footer hr {
        margin-top: 108px;
    }

    .footer-bottom {
        margin-top: 50px;
    }

    .footer-bottom span {
        font-size: 1.250rem;
        line-height: 130%;
    }

    .footer-socials {
        gap: 25px;
    }
}

@media screen and (min-width: 1120px) {

    /* ---------- header for desktop version ---------- */
    .header-title .title-photo {
        margin-top: 60px;
        margin-left: -150px;
    }

    .header-title .title-text h1 {
        font-size: 6.4rem;
    }

    /* ---------- plan diet section for desktop version ---------- */
    .plan-diet-wrap {
        gap: 280px;
        padding-top: 110px;
    }

    /* ---------- our menu section for desktop version ---------- */
    .our-menu-wrap .menu-dishes .menu-item h3 {
        min-height: 9.5rem;
    }

    /* ---------- excelent cook section for desktop version ---------- */
    .excelent-cook-section {
        background-position: top 120px left 30px, bottom 45px right 110px;
        background-size: 300px auto, 400px auto;
    }

    /* ---------- blogs section for desktop version ---------- */
    .blog-section h3 {
        min-height: 3em;
    }

    /* ---------- reservation section for desktop version ---------- */
    .input-wrap input,
    .input-wrap select {
        width: 300px;
    }

    .categories-item h3 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1300px) {
    /* ---------- Extra large screens, TV ---------- */

    .categories-item h3 {
        top: 40px;
        left: 30px;
    }

    .categories-item .vector {
        width: 40px;
        height: 22px;
        top: 44px;
        right: 38px;
    }

    .categories-item h3 {
        font-size: 2.5rem;
    }

    .reviews-section {
        padding: 100px 0;
        background-size: 260px 220px;
        background-position: top 85px right 15px;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-subscribe button[type="submit"] {
        flex-shrink: 0;
    }

    .footer-subscribe .btn-wrap {
        line-height: 78px;
    }
}

@media screen and (min-width: 1500px) {

    /* ---------- content wrap for desktop version ---------- */
    .content-wrap {
        padding: 0 80px;
    }

    /* ---------- header for desktop version ---------- */
    .header-title .title-text {
        margin-right: -100px;
    }

    .header-title .title-text h1 {
        font-size: 6.8rem;
    }

    .navigation-menu-wrap {
        padding: 190px 80px;
    }

    /* ---------- plan diet section for desktop version ---------- */
    .plan-diet-wrap {
        gap: 300px;
        padding-top: 120px;
    }

    /* ---------- our menu section for desktop version ---------- */
    .our-menu-section {
        background-size: 700px auto;
    }

    /* ---------- excelent cook section for desktop version ---------- */
    .excelent-cook-section {
        background-position: top 130px left 30px, bottom 60px right 130px;
        background-size: 330px auto, 430px auto;
    }

    /* ---------- reservation section for desktop version ---------- */
    .input-wrap input,
    .input-wrap select {
        width: 350px;
    }

    select {
        background-position: right 35px center;
    }

    .reviews-section {
        background-position: top 85px right 90px;
    }
}

@media screen and (min-width: 1600px) {
    .header-title .title-text h1 {
        font-size: 7rem;
    }
}

@media screen and (min-width: 1920px) {
    /* ---------- Screen like figma ---------- */

    /* ---------- content wrap for desktop version ---------- */
    .content-wrap {
        padding: 0 138px;
    }

    /* ---------- header for desktop version ---------- */
    .navbar {
        margin: 0;
        width: 100%;
        max-width: none;
        padding-top: 80px;
        padding-bottom: 80px;
        justify-content: space-between;
    }

    .left-part-navbar {
        gap: 45px;
        margin: 0;
        padding: 0;
    }

    .right-part-navbar {
        margin: 0;
        padding: 0;
    }

    .main-logo,
    #iconOpen {
        width: auto;
        height: auto;
    }

    .phone-link {
        font-size: 1.625rem;
    }

    .btn-reservations {
        width: 293px;
        height: 88px;
        padding: 20px 46px;
        font-size: 2rem;
    }

    #iconClose {
        width: auto;
        height: auto;
        top: 34px;
        left: 46px;
    }

    /* ---------- navigation menu full screen for desktop version ---------- */
    .navigation-menu-wrap {
        padding: 222px 138px;
    }

    .navigation-full-screen .menu ul li a {
        font-size: 4.125rem;
    }

    .navigation-full-screen .menu ul li ol li a {
        font-size: 1.5rem;
    }

    .navigation-full-screen .menu ul li:not(ol li)>a::before {
        content: '';
        width: 12px;
        height: 12px;
    }

    .navigation-full-screen .menu ul li a:not(:last-child, .blogs-link) {
        margin-bottom: 28px;
    }

    .blogs-link {
        margin-bottom: 12px;
    }

    .navigation-full-screen .menu ul li ol li a:not(:last-child) {
        margin-bottom: 6px;
    }

    .navigation-full-screen .menu ul li ol {
        padding-right: 86px;
    }

    .contact-info h2 {
        font-size: 2rem;
    }

    .contact-info hr,
    .contact-info ul,
    .contact-info .icons {
        margin-bottom: 38px;
    }

    .contact-info hr {
        border-bottom: 4px dashed #ffffff;
    }

    /* ---------- header title for desktop version ---------- */
    .header-title {
        gap: 80px;
        margin: 110px auto 0;
    }

    .header-title .title-photo {
        margin-top: 100px;
    }

    .header-title .title-text h1 {
        font-size: 9.25rem;
        line-height: 152px;
    }

    .header-title .title-text p {
        font-size: 1.5rem;
        line-height: 140%;
    }

    .main-steak {
        width: 100%;
        width: 792px;
        height: 938px;
    }

    .contact-info ul li a,
    .contact-info>a {
        font-size: 1.125rem;
    }

    .spices {
        gap: 44px;
        right: 450px;
    }

    .spice-img {
        max-width: 250px;
        height: auto;
    }

    /* ---------- main for desktop version ---------- */
    /* ---------- basic teg styles for desktop version ---------- */
    h2 {
        font-size: 6.75rem;
        line-height: 120px;
    }

    h3 {
        font-size: 3rem;
        line-height: 64px;
    }

    p {
        font-size: 1.5rem;
        line-height: 140%;
    }

    hr {
        border-top-width: 4px;
    }

    /* ---------- plan diet section for desktop version ---------- */
    .plan-diet-wrap {
        gap: 344px;
        padding: 120px 0;
    }

    .plan-diet-wrap .left-side-plan h3 {
        margin: 54px 0;
        font-size: 4.25rem;
    }

    .plan-diet-wrap .right-side-plan p {
        margin-bottom: 84px;
    }

    /* ---------- our menu section for desktop version ---------- */
    .our-menu-section {
        background-size: 700px auto;
    }

    .our-menu-wrap .menu-dishes {
        gap: 60px;
        margin-top: 158px;
    }

    .our-menu-wrap .menu-dishes .menu-item {
        flex: 0 0 calc(50% - 40px);
    }

    .our-menu-wrap .menu-dishes .menu-item h3 {
        font-size: 4.25rem;
        margin: 24px 0;
        min-height: 10.6rem;
    }

    .our-menu-wrap .menu-dishes span {
        font-size: 3rem;
        top: -60px;
    }

    .our-menu-wrap .menu-dishes .menu-item:not(:last-child) {
        margin-bottom: 108px;
    }

    /* ---------- excelent cook section for desktop version ---------- */
    .excelent-cook-section {
        background-size: 365px auto, 465px auto;
    }

    .excelent-cook-wrap {
        gap: 60px;
    }

    .excelent-cook-wrap p {
        margin-top: 18px;
    }

    /* ---------- features section for laptop version ---------- */
    .features-section {
        padding: 150px 0;
    }

    .features-section h3 {
        margin: 39px 0;
    }

    .features-section .features-list {
        flex-direction: row;
        gap: 60px;
    }

    .features-item .features-icon {
        width: 260px;
        height: 260px;
    }

    .features-item .features-icon img {
        width: 184px;
        height: 184px;
    }

    /* ---------- blogs section for laptop version ---------- */
    .blog-section .blog-wrap {
        gap: 60px;
    }

    .blog-section .blog-category {
        padding: 7px 53px;
        top: 12px;
        right: 12px;
    }

    .blog-section .post-meta {
        margin: 68px 0 48px 0;
    }

    .blog-section .post-meta li {
        font-size: 1.125rem;
    }

    .blog-section .post-meta li img {
        width: 60px;
        height: 60px;
    }

    .blog-section hr {
        margin: 18px 0;
    }

    .blog-section p {
        font-size: 1.375rem;
    }

    .blog-section .post-meta li:not(:first-child, :nth-child(2))::before {
        margin-right: 14px;
        margin-left: 14px;
    }

    .blog-section .read-more {
        margin-top: 46px;
        gap: 10px;
    }

    .blog-section .read-more img {
        width: 46px;
        height: 26px;
    }

    .blog-section .read-more span {
        font-size: 1.5rem;
    }

    /* ---------- reservation section for desktop version ---------- */
    .reservation-section {
        padding: 237px 0;
    }

    .reservation-wrap h2 {
        font-size: 6.75rem;
        margin-top: 18px;
    }

    .reservation-wrap p {
        margin-bottom: 133px;
    }

    .input-wrap {
        gap: 48px;
        margin-bottom: 133px;
    }

    .input-wrap input::placeholder,
    .input-wrap input,
    .input-wrap select {
        font-size: 1.5rem;
    }

    .input-wrap input,
    .input-wrap select {
        padding: 30px 40px;
        width: 510px;
    }

    button[type="submit"] {
        font-size: 2rem;
        padding: 20px 94.5px;
    }

    select {
        background-position: right 40px center;
        background-size: 28px 16px;
    }

    /* ---------- categories section for laptop version ---------- */
    .menu-categories-section {
        padding: 128px 0;
    }

    .menu-categories-wrap p {
        margin-top: 18px;
        margin-bottom: 178px;
    }

    .categories-list {
        flex-direction: row;
        gap: 60px;
    }

    .categories-item h3 {
        top: 48px;
        left: 40px;
    }

    .categories-item .vector {
        width: 48px;
        height: 28px;
        top: 49px;
        right: 48px;
    }

    .categories-item h3 {
        font-size: 3rem;
    }

    /* ---------- reviews section for desktop version ---------- */
    .reviews-section {
        padding: 118px 0;
        background-size: 282px 234px;
        background-position: top 118px right 255px;
    }

    .reviews-section p {
        font-size: 3rem;
        line-height: 64px;
        margin-bottom: 86px;
    }

    .reviews-section .bottom-wrap .author-wrap {
        gap: 60px;
    }

    .reviews-section .bottom-wrap .author-avatar {
        width: 170px;
        height: 170px;
    }

    .reviews-section .bottom-wrap .author-name .name {
        font-size: 3rem;
        margin-bottom: 6px;
    }

    .reviews-section .bottom-wrap .author-name .proffesion {
        font-size: 1.125rem;
    }

    .reviews-section .bottom-wrap .scroll-wrap {
        gap: 40px;
    }

    .reviews-section .bottom-wrap .scroll-wrap span {
        font-size: 2rem;
        line-height: 64px;
    }

    .reviews-section .bottom-wrap .scroll-wrap>img {
        width: 48px;
        height: 28px;
    }

    /* ---------- footer for desktop version ---------- */
    .footer {
        padding-top: 132px;
        padding-bottom: 74px;
    }

    .footer-main .footer-contact {
        margin-left: 238px;
    }

    .footer-main .footer-brand h3 {
        font-size: 4.25rem;
    }

    .footer-main h4 {
        font-size: 2rem;
        margin-bottom: 55px;
    }

    .footer-main .footer-contact li a,
    .footer-contact address {
        font-size: 1.125rem;
        line-height: 25px;
    }

    .footer-contact li address {
        margin-top: 28px;
    }

    .footer-subscribe {
        margin-left: 202px;
    }

    .subscribe-form {
        gap: 28px;
    }

    .footer-subscribe input[type="email"] {
        width: 523px;
        height: 96px;
        padding: 30px 40px;
    }

    .footer-subscribe input[type="email"],
    .footer-subscribe input[type="email"]::placeholder {
        font-size: 1.5rem;
    }

    .footer-subscribe button[type="submit"] {
        width: 241px;
        height: 88px;
        padding: 20px 30px;
        font-size: 1.5rem;
    }

    .footer-subscribe p {
        margin-top: 15px;
        font-size: 0.875rem;
    }

    .footer hr {
        margin-top: 138px;
    }

    .footer-bottom {
        margin-top: 58px;
    }

    .footer-bottom span {
        font-size: 1.5rem;
        line-height: 140%;
    }

    .footer-socials {
        gap: 28px;
    }

    .footer-subscribe .btn-wrap {
        line-height: 100px;
    }
}